jellyfin:
    image: {}
    service:
        type: ClusterIP
        port: 8096
    ingress:
        enabled: true
        ingressClassName: traefik
        tls:
            - hosts:
                - "jelly.k3s.micasa.systems"
        hosts:
         - host: "jelly.k3s.micasa.systems"
           paths: 
            - path: /
              pathType: ImplementationSpecific
    env:
        - name: JELLYFIN_DATA_DIR
          value: "/media/jellyfin"
        - name: PUID
          value: "65533"
        - name: PGID
          value: "65533"
    persistence:
        enabled: true
        volumes:
          - name: jellyfin-config
            storageClassName: "zfs"
            accessMode: "ReadWriteOnce"
            size: 5G
          - name: media
            existingClaimName: media
        volumeMounts:
          - name: jellyfin-config
            mountPath: /config
          - name: media
            mountPath: /media