radarr:
  livenessProbe: {}
#    httpGet:
#      path: /
#      port: http
  readinessProbe: {}
#    httpGet:
#      path: /
#      port: http

  service:
    type: ClusterIP
    port: 7878

  env:
    - name: PUID
      value: "65533"
    - name: PGID
      value: "65533"
    - name: TZ
      value: "Europe/London"

  ingress:
    enabled: true
    className: traefik
    hosts:
      - host: radarr.k3s.micasa.systems
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - hosts:
        - radarr.k3s.micasa.systems
  persistence:
    enabled: true
    volumes:
      - name: radarr-config
        #existingClaimName: radarr-config
        size: 5G
        storageClassName: zfs
        accessMode: "ReadWriteOnce" 
      - name: media
        existingClaimName: media
    volumeMounts:
      - name: media
        mountPath: /media
      - name: radarr-config
        mountPath: /config
